@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "../../node_modules/react-keyed-file-browser/dist/react-keyed-file-browser.css";
body {
	font-family: "Montserrat", sans-serif !important;
}

:root {
	--white: #ffffff;
	--red: #e53935;
}

.myInlineDecoration {
	color: var(--red) !important;
	cursor: pointer;
	text-decoration: underline;
	font-weight: bold;
	font-style: oblique;
}

.myLineDecoration {
	background: lightblue;
	width: 5px !important;
	margin-left: 3px;
}

.myGlyphMarginClass {
	background: var(--red);
}
