@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "../../node_modules/react-keyed-file-browser/dist/react-keyed-file-browser.css";
body {
	font-family: "Montserrat", sans-serif !important;
}

:root {
	--white: #ffffff;
	--red: #e53935;
}

.myContentClass {
	/* background: lightblue; */
}

.myGlyphMarginClass::before {
	content: "💬";
}

.image {
	display: block;
	max-width:885px;
	max-height:1000px;
	width: auto;
	height: auto;
  }
