.SubmissionContainer {
	width: 80%;
	margin: 0 auto;
	margin-top: 15px;
}

.LeftContainer {
	flex: 1.5;
	margin-top: 15px;
	margin-right: 15px;
}

.RightContainer {
	flex: 1;
	margin-top: 15px;
	margin-left: 15px;
}
